# Ignore compiled Python files
*.pyc

# Ignore virtual environment folder
venv/

# Ignore IDE settings
.vscode/

*.log
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore .env file
.env

